header {
  padding: 10px;
  border-top: 3px solid orange;
  border-bottom: 1px solid rgb(63, 63, 63);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header-title {
  font-weight: 700;
  font-size: 24px;
  color: black;
}
