.end-tag {
  font-size: 14px;
  margin-bottom: 15px;
}
.btn-disabled {
  pointer-events: none;
  cursor: default;
  background-color: #d5d5d8;
}

.visitor {
  background-color: white;
  padding: 20px 20px 50px 20px;
  margin-bottom: 10px;
}

.visitor-span {
  color: rgb(197, 194, 194);
  font-size: 14px;
  font-weight: 500;
}
