<div class="title">
  <h3>Private room dining Rakuzo-RAKUZO-Sapporo station square store</h3>
</div>

<ul class="steps steps-5">
  <li routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink=""><span>Reservation details selection</span></a>
  </li>
  <li routerLinkActive="current">
    <a routerLink="/confirmation"
      ><span>Confirmation of reservation details</span></a
    >
  </li>
  <li routerLinkActive="current">
    <a routerLink="/final-step"><span>booking is done</span></a>
  </li>
</ul>
